@model About
    <div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('@Model.AboutCarouselImage');">
        <div class="container">
            <div class="row same-height justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="post-entry text-center">
                        <h1 class="">Hakkımızda</h1>
                    <p class="lead mb-4 text-white">Bilginin ışığında keşfet, ilhamın peşinde yaz!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="site-section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6 order-md-2">
                    <img src="@Model.AboutImage1" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-5 mr-auto order-md-1">
                    <h2>@Model.ContentTitle1</h2>
                    <p>@Model.AboutContent1</p>
                <ul class="ul-check list-unstyled success">
                    <li><strong>Misyonumuz:</strong> Kaliteli, güvenilir ve ilham verici içerikler sunarak okuyucularımızın bilgi dağarcığını genişletmek ve onlara yeni bakış açıları kazandırmak. Her bir yazımızda, sizlerin hayatına dokunmayı ve fark yaratmayı amaçlıyoruz.</li>
                    <li><strong>Vizyonumuz:</strong> Bilgiye erişimi kolaylaştıran, ilham veren ve insanları bir araya getiren bir platform olmak. Gelecekte, daha fazla insana ulaşarak onların hayatlarını olumlu yönde değiştirmeyi hedefliyoruz.</li>
                </ul>
                </div>
            </div>
        </div>
    </div>

            <div class="site-section">
                <div class="container">
                     <div class="row mb-5 justify-content-center">
                        <div class="col-md-5 text-center">
                              <h2>Yzarlarımız</h2>
                            <p>Güzide yazarlarımızın sayfalarını inceleyip daha fazla ilgili bloğa ulaşabilirsiniz.</p>
                        </div>
                     </div>
                     @await Component.InvokeAsync("PopularAuthors")
                </div>
            </div>
  
   

    <div class="site-section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="@Model.AboutImage2" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-5 ml-auto">
                    <h2>@Model.ContentTitle2</h2>
                    <p class="mb-4">@Model.AboutContent2</p>
                    <ul class="ul-check list-unstyled success">
                    <li><strong>Değerlerimiz:</strong> Samimiyet, güvenilirlik, yenilikçilik ve topluluk odaklılık. Her bir içeriğimizi bu değerler doğrultusunda hazırlıyor ve sizlerle paylaşıyoruz.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

<partial name="~/Views/NewsLetter/_NewsLetter.cshtml" />