@model IEnumerable<Blog>
@{
    var blogs = Model.ToList();
}
<div class="site-section bg-light">
    <div class="container">
        <div class="row align-items-stretch retro-layout-2">
            <div class="col-md-4">
                @if (blogs.Count > 0)
                {
                    <a asp-controller="Blogs" asp-action="GetBlogDetails" asp-route-blogId="@blogs[0].BlogId" class="h-entry mb-30 v-height gradient" style="background-image: url('@blogs[0].BlogImageUrl');">
                        <div class="text">
                            <h2>@blogs[0].BlogTitle</h2>
                            <span class="date">&nbsp;-&nbsp; @blogs[0].BlogDate.ToString("dd MMM yyyy")</span>
                        </div>
                    </a>
                }


                @if (blogs.Count > 1)
                {
                    <a asp-controller="Blogs" asp-action="GetBlogDetails" asp-route-blogId="@blogs[1].BlogId" class="h-entry mb-30 v-height gradient" style="background-image: url('@blogs[1].BlogImageUrl');">
                        <div class="text">
                            <h2>@blogs[1].BlogTitle</h2>
                            <span class="date">&nbsp;-&nbsp; @blogs[1].BlogDate.ToString("dd MMM yyyy")</span>
                        </div>
                    </a>
                }

            </div>
            <div class="col-md-4">
                @if (blogs.Count > 2)
                {
                    <a asp-controller="Blogs" asp-action="GetBlogDetails" asp-route-blogId="@blogs[2].BlogId" class="h-entry img-5 h-100 gradient" style="background-image: url('@blogs[2].BlogImageUrl');">

                        <div class="text">
                            <div class="post-categories mb-3">
                                <span class="post-category bg-danger">@blogs[2].Category.CategoryName</span>
                            </div>
                            <h2>@blogs[2].BlogTitle</h2>
                            <span class="date">&nbsp;-&nbsp; @blogs[2].BlogDate.ToString("dd MMM yyyy")</span>
                        </div>
                    </a>
                }
            </div>
            <div class="col-md-4">
                @if (blogs.Count > 3)
                {
                    <a asp-controller="Blogs" asp-action="GetBlogDetails" asp-route-blogId="@blogs[3].BlogId" class="h-entry mb-30 v-height gradient" style="background-image: url('@blogs[3].BlogImageUrl');">
                        <div class="text">
                            <h2>@blogs[3].BlogTitle</h2>
                            <span class="date">&nbsp;-&nbsp; @blogs[3].BlogDate.ToString("dd MMM yyyy")</span>
                        </div>
                    </a>
                }
                @if (blogs.Count > 4)
                {
                    <a asp-controller="Blogs" asp-action="GetBlogDetails" asp-route-blogId="@blogs[4].BlogId" class="h-entry mb-30 v-height gradient" style="background-image: url('@blogs[4].BlogImageUrl');">
                        <div class="text">
                            <h2>@blogs[4].BlogTitle</h2>
                            <span class="date">&nbsp;-&nbsp; @blogs[4].BlogDate.ToString("dd MMM yyyy")</span>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
</div> 
